<section id="about">
    <h2 class="title">
        About us
    </h2>
    <p class="about-text">
        Welcome to Golden Gallery, a beacon of artistic excellence that has illuminated the art scene for a remarkable 25 years. Nestled in the heart of creativity, our gallery has been a steadfast supporter of the arts, showcasing a diverse array of talent across various mediums. From the radiant hues of paintings to the intricacies of sculptures, Golden Gallery has been a sanctuary for artistic expression.
        For a quarter of a century, we have been a hub for both seasoned artists and emerging talents, fostering an environment where creativity knows no bounds. Our commitment to the transformative power of art has made Golden Gallery a beloved destination for art enthusiasts, collectors, and connoisseurs alike.
    </p>
</section>